{% if categories %}
    <ul>
	<p>Welcome to Ykea!</p>
	<p>Ykea - where everything becomes furniture!</p>
      {% if current_user %}
      user: {{user.username}}, money: {{user.client.money}}  (<a href="{% url 'logout'%}">logout</a>)
        {% else %}
        Not <a href="{% url 'login'%}">logged</a> in?  O <a href="{% url 'register'%}">register</a>

	  {% endif %}
	<p>Catalogue:</p>
    {% for category in categories %}
    	<li><a href="{% url 'items' category.0%}"> {{category.0}} </a>  {{category.1}}  </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}