<a href="/ykea"> ykea </a> /<a href="/ykea/items"> items </a>/ {{category}}
<ul>{% if items %}
    {% if current_user %}
      user: {{user.username}} (<a href="{% url 'buy'%}">cart</a>), money: {{user.client.money}}  (<a href="{% url 'logout'%}">logout</a>)
        {% else %}
        Not <a href="{% url 'login'%}">logged</a> in?  O <a href="{% url 'register'%}">register</a>

	  {% endif %}</ul>


    <form action="{% url 'shoppingcart'%}" method="post">
     {% csrf_token %}
    {% for item in items %}
    <ul>
    <label><input type= checkbox name="checkbox{{ item.item_number }}" id="checkbox{{ item.item_number }}" value="{{ item.item_number }}"
    onclick="document.getElementById('checkbox{{ item.item_number }}').checked ? document.getElementById('textbox{{ item.item_number }}').value=1 : document.getElementById('textbox{{ item.item_number }}').value=''"
    />
    <input type= text name="textbox{{ item.item_number }}" id="textbox{{ item.item_number }}" value="" style="width:25px;"
    onkeypress="document.getElementById('checkbox{{ item.item_number }}').checked= true"
    />
   <a href="{% url 'item' item.item_number %}">
   {{item.name}} </a> <br>
            {{item.description}} <br>
             {{item.price}} €

    </label> 
    </ul>
    {% endfor %}
     <input type="submit" value="Add to Shopping cart" />
	</form>
{% else %}
    <p>No items are available.</p>
{% endif %}
